bin/
include/
/lib/
local/
share/
doc/mcu/arduino_nano/build-nano/
lib-python/
lib_pypy/
site-packages/
virtualenv_support/
WampRouter/web/*.html
WampRouter/web/css/bootstrap*.css
WampRouter/.crossbar
WampRouter/web/css/bootstrap/node_modules/
WampRouter/web/css/bootstrap/package-lock.json
#WampRouter/web/css/bootstrap/dist/
COPYRIGHT
*.pyc
*~
*.swp
README.rst
get-pip.py
pypy-5.0.1-linux_x86_64-portable.tar.bz2
#project.cfg
pip-selfcheck.json
