Source: pyduin
Priority: optional
Maintainer: Steffen Kockel <info@steffen-kockel.de>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Section: python
Homepage: https://github.com/SteffenKockel/pyduin
Vcs-Git: git://github.com/SteffenKockel/pyduin.git
Vcs-Browser: https://github.com/SteffenKockel/pyduin

Package: python-pyduin
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}
# Suggests: python-foo-doc
Description: Python arduino module and cli (Python 2)
 Interact with an arduino using python. After uploading the
 included scetch to on ore multiple arduinos, they can be
 controlled from command line.
 .
 Additionally the command line tool is able to download and
 install multiple arduino versions - libraries included.

Package: python3-pyduin
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}
# Suggests: python-foo-doc
Description: Python arduino module and cli (Python 3)
 Interact with an arduino using python. After uploading the
 included scetch to on ore multiple arduinos, they can be
 controlled from command line.
 .
 Additionally the command line tool is able to download and
 install multiple arduino versions - libraries included.

